body {
    font-family: 'Droid Sans', sans-serif !important;
    font-size: 14px !important;
}

section {
}

pre code {
    background-color: black;
    color: #FFF;
}

/* Prettify code blocks are overriden by Bootstrap, correct */
#logo {
    margin-top: 10px;
}

#logo .span10 {
    text-align: right;
}

#logo .span10 a {
    margin-top: 10px;
}

#footer {
    margin-top: 30px;
    border-top: 1px solid #000;
}

#footer a {
    color: #777;
}

#footer .color, #footer a:hover{
    color: #c30;
}

#footer p.right {
    float: right;
}

#footer .inner {
    background: #111;
    border-top: 1px solid #222;
    color: white;
}

.social-icons-container {
    display: table;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
}

.social-icons-container li {
    width: 60px;
    display: table-cell;

    text-align: center;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;

    line-height: 600px;

    background: url(/css/images/social-sprite.png) no-repeat 0 0;
}

.social-icon-twitter {
    background-position: 0 0;
}

.social-icon-twitter:hover {
    background-position: 0 -50px;
}

.social-icon-google {
    background-position: -50px 0;
}

.social-icon-google:hover {
    background-position: -50px -50px;
}

.social-icon-facebook {
    background-position: -100px 0;
}

.social-icon-facebook:hover {
    background-position: -100px -50px;
}

#colophon {
    border-top: 1px solid black;
}

#colophon .inner {
    background-color: #222;
    border-top: 1px solid #555;
    padding: 20px;
}

#colophon h3 {
    font-weight: bolder;
    margin-bottom: 10px;
}

#footer .shortcut {
    width: 49%;
    margin: 0px;
    display: inline-block;
    list-style: none;
}

#footer .shortcut li {
    margin-bottom: 10px;
}

#footer_notes {
    background-color: #111;
    border-top: 1px solid #000;
}

#footer_notes .inner {
    padding: 20px 0;
    border-top: 1px solid #333;
}

#quickstart textarea {
    width: 100%;
}

.teaser p {
    line-height: 30px;
    font-size: 18px;
}

#overview {
}

#overview h1 {
    background-color: #CDF;
    padding: 20px;
    margin: auto;
    color: #444;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#overview img {
    margin-top: 40px
}

#overview img.nomargin {
    margin-top: 0;
}

#overview .float.right {
    float: right;
}

#overview .float.left {
    float: left;
}

#StaticMarkdown .breadcrumb {
    font-size: 11px;
    padding: 5px 10px;
}

#StaticMarkdown .breadcrumb .divider {
    padding: 0 1px;
}

#StaticMarkdown h1 {
    padding-bottom: 10px;
    font-size: 24px;
}

#StaticMarkdown h2 {
    color: #ee5620;
    padding: 15px 0 10px;
    font-size: 20px;
}

#StaticMarkdown h3 {
    padding: 15px 0 10px;
}

#StaticMarkdown strong {
}

#navigation_box {
    padding: 20px;
    margin: auto;
    color: #444;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    background-color: #EFEFEF;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #c30
}

;
#navigation_box ul {
    list-style: none;
    padding: 0;
    margin: 0
}

#navigation_box li {
    list-style: none;
}

#navigation_box a {
    color: #444;
    font-size: 14px;
    display: block;
    padding: 5px;
}

#navigation_box li.selected a {
    color: #6999ee;
    font-weight: bold;
}

#navigation_box li a i {
    float: right;
}

#navigation_box a i.icon-chevron-right {
    background-position: -453px -70px;
    background-color: #CCC;
    padding: 3px;
    border-radius: 10px;
}

#navigation_box li.selected a i.icon-chevron-right,
#navigation_box li a:hover i.icon-chevron-right {
    background-color: #6999ee;
}


