body { font-family: 'Droid Sans', sans-serif !important;
    font-size: 14px !important;
}
section { padding-top: 60px; }

pre code { background-color: black; color: #FFF; } /* Prettify code blocks are overriden by Bootstrap, correct */

#footer {
    margin-top: 30px;
}
#footer p.right {
	float: right;
}
#masthead, #footer {
  background-color: #049cd9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  background-image: -webkit-linear-gradient(#004D9F, #049cd9);
  background-image: -moz-linear-gradient(#004D9F, #049cd9);
  background-image: -o-linear-gradient(top, #004D9F, #049cd9);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#004D9F', EndColorStr='#049cd9', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#004D9F', EndColorStr='#049cd9', GradientType=0))";
}
#masthead div.inner, #footer div.inner {
  /*background: transparent url(../img/grid-18px.png) top center;*/
  padding: 45px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}
#masthead h1,
#footer h1,
#masthead p,
#footer p {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#masthead p a,
#footer p {
  color: #fff;
}

#footer a {
    color: #99BBFF;
}
#masthead {
  margin-top: 20px;
}
#masthead h1,
#masthead p {
  text-align: center;
  margin-bottom: 9px;
}
#masthead h1 {
  font-size: 54px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#masthead p {
  font-weight: 300;
}
#masthead p.lead {
  font-size: 20px;
  line-height: 27px;
}

#quickstart textarea { width: 100%; }
.teaser p { line-height: 30px; font-size: 18px; }

#overview {  }
	#overview h1 {  background-color: #CDF; padding: 20px; margin: auto; color: #444;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		-o-border-radius: 8px;
		-ms-border-radius: 8px;
		-khtml-border-radius: 8px;
		border-radius: 8px;
	}
	#overview .row { margin-top: 60px; }
	#overview img { margin-top: 40px }
	#overview img.nomargin { margin-top:0;}
	#overview .float.right { float: right; }
	#overview .float.left { float: left; }

#documentation .breadcrumb { font-size: 11px; padding: 5px 10px; }
    #documentation .breadcrumb .divider { padding: 0 1px; }
#documentation h1 {  padding-bottom: 10px; }
#documentation h2 { color:#E30; padding-bottom: 5px; font-size: 20px; }
#documentation strong {}

#navigation_box { padding: 20px; margin: auto; color: #444;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
    background-color: #EFEFEF;
	}

#navigation_box ul { list-style: none; padding: 0; margin: 0}
#navigation_box li { list-style: none; }
#navigation_box a { color: #444; font-size: 14px; display: block; padding: 5px; }
    #navigation_box li.selected a { color: #6999ee; font-weight:bold; }
    #navigation_box li a i { float: right; }

#navigation_box a i.icon-chevron-right {
    background-position: -453px -70px;
    background-color: #CCC;
    padding: 3px;
    border-radius: 10px;
}

#navigation_box li.selected a i.icon-chevron-right,
#navigation_box li a:hover i.icon-chevron-right
{
    background-color: #6999ee;
}


